<section class="dots" id="clients">
<div class="container">

<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-6" >

          <div class="circle">
            <br><br><br>
            <span class="dot"></span> &nbsp; &nbsp;
            <span class="dot"></span> &nbsp; &nbsp;
            <span class="dot"></span>
          <br><br>
           <span class="dot"></span>  &nbsp; &nbsp;
           <span class="dot"></span>  &nbsp; &nbsp;
           <span class="dot"></span>
           
          </div>
        </div>

        <div class="col-lg-6">
          <div class="tips">      
            
            <br><br><br><br>
            <h2 style="color: #215E9F; ">Get tips and tricks on how<br> to achieve your goals</h2>
            <br>
            <h6 style="text-align:justify; font-size: 15px">At Blockchain Research Lab, we look forward with the advancement in
               Blockchain Technology and it's recent changes. Since 2019, we've tried to
              provide a high quality service as we grow, our commitment to the needs remains the
            key driving force behind the establishment of our Lab. </h6>
          </div><br><br><br><br>
        </div>
        
      </div>
    </div>

</div>
</section>

<br><br><br><br>


   <!-- Blog -->



<h2 style="color: #215E9F; text-align: center;"> Have a look at our latest blog </h2>

<section class="blog" id="blog">
  <div class="container " >
      <div class="row ">

          <div class="col-lg-4" >
            <div class="image1">
            <img class="ethereum" src="../assets/image1.jpg">
            <br><br>
            <h6>May 28, 2020</h6>
            <h4 style="color: #215E9F; ">Ethereum: Developer's Guide</h4><br><br>
            </div>
          </div>
   
          <div class="col-lg-4" >
            <div class="image1">
            <img class="ethereum" src="../assets/image1.jpg">
            <br><br>
            <h6>May 17, 2020</h6>
            <h4 style="color: #215E9F; ">An Introduction to Docker</h4><br><br>
            </div>
          </div>

          <div class="col-lg-4" >
            <div class="image1">
            <img class="ethereum" src="../assets/image1.jpg">
            <br><br>
            <h6>May 11, 2020</h6>
            <h4 style="color: #215E9F; ">Getting Started with Node JS</h4><br><br>
            </div>
          </div>

           <div class="abc">
             <button class="but1">Read More &nbsp;&nbsp; > </button>
           </div>

      </div>
  </div>

  <br><br>
</section>

  <!-- Founders -->


  <h2 style="color: #215E9F; text-align: center; "> The patriarchy of blithe and bonny soul helps to<br>
  achieve perfection assiduously in the endeavors. </h2>

  <section class="founders" id="founders">
    <div class="container " >
      <div class="row ">

        <div class="col-lg-4" >
          <div class="image2">
          <img class="image2" src="../assets/shak.jpg">
          <br><br>
          <h4 style="color: #215E9F; ">Shakti Jaiswal</h4>
          <h6 style="font-size: 15px;">GRAPHIC DESIGNER</h6><br><br>
          </div>
        </div>

        <div class="col-lg-4" >
          <div class="image2">
          <img class="image2" src="../assets/pra.jpg">
          <br><br>
          <h4 style="color: #215E9F; ">Prakhar Agarwal</h4>
          <h6 style="font-size: 15px;">APPLICATION DEVELOPER</h6><br><br>
          </div>
        </div>

        <div class="col-lg-4" >
          <div class="image2">
          <img class="image2" src="../assets/shu.jpg">
          <br><br>
          <h4 style="color: #215E9F; ">Shubh Singhal</h4>
          <h6 style="font-size: 15px;">WEB DEVELOPER</h6><br><br>
          </div>
        </div>

        <div class="abc">
          <button class="but1">Meet Our Team &nbsp;&nbsp; > </button>
        </div>

      </div>
    </div>
<br><br><br>
  </section>


   <!-- Footer -->


   <section class="footer">
    <div class="container">
      <div class="row">


        
      </div>
     </div>
   </section>

